# 0.0 IMPORTS

In [1]:
import pandas     as pd
import numpy      as np
import seaborn    as sns
import umap.umap_ as umap

import inflection
import sqlite3
import re

from sklearn.manifold  import TSNE
from sqlalchemy        import create_engine

from matplotlib        import pyplot           as plt
from scipy.cluster     import hierarchy        as hc
from sklearn.neighbors import NearestNeighbors as nn
from sklearn           import cluster          as c
from sklearn           import mixture          as mx
from sklearn           import preprocessing    as pp
from sklearn           import metrics          as m
from sklearn           import decomposition    as dd
from sklearn           import ensemble         as en
from plotly            import express          as px

## 0.2 Load Dataset

In [2]:
# Load dataset
df_raw = pd.read_csv( '/home/jeffsmedines/repos/loyalty_program/data/raw/Ecommerce.csv', encoding='unicode_escape' )

# Drop NA Column
df_raw = df_raw.drop( columns=['Unnamed: 8'] )

# 1.0 DATA DESCRIPTION

In [3]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [4]:
columns = df1.columns
new_columns = [inflection.underscore( x ) for x in columns]
df1.columns = new_columns

## 1.2 Data Dimensions

In [5]:
print( f'Number of Rows: {df1.shape[0]}' )
print( f'Number of Columns: {df1.shape[1]}' )

Number of Rows: 541909
Number of Columns: 8

## 1.3 Data Types

In [6]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

## 1.4 Check NA's

In [7]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 1.5 Replace NA's

In [8]:
# Dataframe missing customer id
df_missing = df1.loc[df1['customer_id'].isna(), :].copy()

# Dataframe with customer id
df_not_missing = df1.loc[~df1['customer_id'].isna(), :].copy()

In [9]:
# Create dataframe reference
df_backup = pd.DataFrame( df_missing['invoice_no'].drop_duplicates() )
df_backup['customer_id'] = np.arange( 19000, 19000 + len( df_backup ), 1 )

# Merge original dataframe to reference
df1 = pd.merge( df1, df_backup, on='invoice_no', how='left' )

# Coalesce (merge id columns)
df1['customer_id'] = df1['customer_id_x'].combine_first( df1['customer_id_y'] )

# Drop extre id columns
df1 = df1.drop( columns=['customer_id_x', 'customer_id_y'] )

In [10]:
df1.isna().sum()

invoice_no         0
stock_code         0
description     1454
quantity           0
invoice_date       0
unit_price         0
country            0
customer_id        0
dtype: int64

## 1.6 Change Data Types

In [11]:
# Invoice Date
df1['invoice_date'] = pd.to_datetime( df1['invoice_date'], format='%d-%b-%y' )

# Customer ID
df1['customer_id'] = df1['customer_id'].astype( int )

In [12]:
df1.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
country                 object
customer_id              int64
dtype: object

## 1.7 Descriptive Statistics

In [13]:
num_attributes = df1.select_dtypes( include=['int64', 'float64'] )
cat_attributes = df1.select_dtypes( exclude=['int64', 'float64', 'datetime64[ns]'] )

### 1.7.1 Numerical Attributes

In [14]:
# Central tendency
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T


# Dispersion 
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T
d2 = pd.DataFrame( num_attributes.apply( np.min ) ).T
d3 = pd.DataFrame( num_attributes.apply( np.max ) ).T
d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) ).T

# Concat
ds = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
ds.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
ds

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,quantity,-80995.00,80995.0,161990.00,9.552250,3.00,218.080957,-0.264076,119769.160031
1,unit_price,-11062.06,38970.0,50032.06,4.611114,2.08,96.759764,186.506972,59005.719097
2,customer_id,12346.00,22709.0,10363.00,16688.840453,16249.00,2911.408666,0.487449,-0.804287

### 1.7.2 Categorical Attributes

#### Invoice Number

In [15]:
# Invoice number with letters and unique values
a = len(cat_attributes.loc[cat_attributes['invoice_no'].apply( lambda x: bool( re.search( '[^0-9]+', x ) ) ), 'invoice_no'].drop_duplicates())

# Invoice number with letters
b = len(cat_attributes.loc[cat_attributes['invoice_no'].apply( lambda x: bool( re.search( '[^0-9]+', x ) ) ), 'invoice_no'])

# Quantity negative in rows with invoice number with letters
c11 = len(df1.loc[df1['quantity'] < 0, 'invoice_no'].apply( lambda x: bool( re.search( '[^0-9]+', x ) ) ))

print( f'Total number of unique invoice with letters: { a }' )
print( f'Total number of invoice with letters: { b }' )
print( f'Total number of negative quantity: { c11 }' )

Total number of unique invoice with letters: 3839
Total number of invoice with letters: 9291
Total number of negative quantity: 10624

#### Stock Code

In [16]:
# Stock code with letters
cat_attributes.loc[cat_attributes['stock_code'].apply( lambda x: bool(re.search( '[^0-9]+', x ) ) ), 'stock_code'].head()

0     85123A
2     84406B
3     84029G
4     84029E
45      POST
Name: stock_code, dtype: object

In [17]:
# Stock code only with letter
cat_attributes.loc[cat_attributes['stock_code'].apply( lambda x: bool(re.search( '^[a-zA-Z]+$', x ) ) ), 'stock_code'].unique()

# Action: remove these codes

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

#### Description

In [18]:
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,country,customer_id
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,United Kingdom,17850
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,United Kingdom,17850
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,United Kingdom,17850
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,United Kingdom,17850
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,United Kingdom,17850

#### Country

In [19]:
df1['country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [20]:
df1['country'].value_counts( normalize=True ).head()

United Kingdom    0.914320
Germany           0.017521
France            0.015790
EIRE              0.015124
Spain             0.004674
Name: country, dtype: float64

# 2.0 DATA FILTERING

In [21]:
df2 = df1.copy()

In [22]:
df2.shape

(541909, 8)

## 2.1 Categorical Attributes Filtering

In [23]:
# Stock code != ['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK']
df2 = df2[~df2['stock_code'].isin( ['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'] )]

# Drop description
df2 = df2.drop( columns='description', axis=1 )

# Map
df2 = df2[~df2['country'].isin( ['European Community', 'Unspecified'] )]

In [24]:
df2.head()

,invoice_no,stock_code,quantity,invoice_date,unit_price,country,customer_id
0,536365,85123A,6,2016-11-29,2.55,United Kingdom,17850
1,536365,71053,6,2016-11-29,3.39,United Kingdom,17850
2,536365,84406B,8,2016-11-29,2.75,United Kingdom,17850
3,536365,84029G,6,2016-11-29,3.39,United Kingdom,17850
4,536365,84029E,6,2016-11-29,3.39,United Kingdom,17850

## 2.2 Numerical Attributes Filtering

In [25]:
# Unit price < 0
df2 = df2.loc[df2['unit_price'] >= 0.04, :]
df2 = df2[~df2['customer_id'].isin( [16446] )]

# Quantity
df2_returns = df2.loc[df2['quantity'] < 0, :].copy()
df2_purchase = df2.loc[df2['quantity'] > 0, :].copy()

# 3.0 FEATURE ENGINEERING

In [26]:
df3 = df2.copy()

In [27]:
df3.shape

(536139, 7)

## 3.1 Feature Creation

In [28]:
df_ref = df3.drop( columns=['invoice_no', 'stock_code', 'quantity',
                            'invoice_date', 'unit_price','country'], 
                             axis=1 ).drop_duplicates( ignore_index=True )
df_ref.head()

   customer_id
0        17850
1        13047
2        12583
3        13748
4        15100

### 3.1.1 Gross Revenue

In [29]:
# Gross Revenue
df2_purchase['gross_revenue'] = df2_purchase['quantity'] * df2_purchase['unit_price']

# Monetary
df_monetary = df2_purchase[['customer_id', 'gross_revenue']].groupby( 'customer_id' ).sum().reset_index()
df_ref = pd.merge( df_ref, df_monetary, on='customer_id', how='left' )

df_ref.isna().sum()

customer_id       0
gross_revenue    91
dtype: int64

### 3.1.2 Recency

In [30]:
# Recency
df_recency = df2_purchase[['customer_id', 'invoice_date']].groupby( 'customer_id' ).max().reset_index()
df_recency['recency_days'] = (df2['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency.drop( columns=['invoice_date'], axis=1 )
df_ref = pd.merge( df_ref, df_recency, on='customer_id', how='left' )

df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

### 3.1.3 Total Quantity of  Purchases

In [31]:
# Purchases
df_freq = ( df2_purchase[['invoice_no', 'customer_id']].drop_duplicates()
                                                     .groupby( 'customer_id' )
                                                     .count()
                                                     .reset_index()
                                                     .rename( columns={'invoice_no': 'invoice_quantity'} ) )
df_ref = pd.merge( df_ref, df_freq, on='customer_id', how='left' )

df_ref.isna().sum()

customer_id          0
gross_revenue       91
recency_days        91
invoice_quantity    91
dtype: int64

### 3.1.4 Total Quantity of Items Purchased

In [32]:
# Products purchased
df_freq = ( df2_purchase[['quantity', 'customer_id']].groupby( 'customer_id' )
                                                   .sum().reset_index()
                                                   .rename( columns={'quantity': 'items_quantity'} ) )
df_ref = pd.merge( df_ref, df_freq, on='customer_id', how='left' )

df_ref.isna().sum()

customer_id          0
gross_revenue       91
recency_days        91
invoice_quantity    91
items_quantity      91
dtype: int64

### 3.1.5 Total Quantity of Products Purchased

In [33]:
# Products purchased
df_freq = ( df2_purchase[['stock_code', 'customer_id']].groupby( 'customer_id' )
                                                       .count()
                                                       .reset_index()
                                                       .rename( columns={'stock_code': 'products_quantity'} ) )
df_ref = pd.merge( df_ref, df_freq, on='customer_id', how='left' )

df_ref.isna().sum()

customer_id           0
gross_revenue        91
recency_days         91
invoice_quantity     91
items_quantity       91
products_quantity    91
dtype: int64

### 3.1.6 Average Ticket Value

In [34]:
# Avg ticket
df_avg_ticket = df2_purchase[['customer_id', 'gross_revenue']].groupby( 'customer_id' ).mean().reset_index().rename( columns={'gross_revenue': 'avg_ticket'} )
df_ref = pd.merge( df_ref, df_avg_ticket, how='left', on='customer_id' )

df_ref.isna().sum()

customer_id           0
gross_revenue        91
recency_days         91
invoice_quantity     91
items_quantity       91
products_quantity    91
avg_ticket           91
dtype: int64

## 4.3 Space Study

In [40]:
df4 = df_ref.dropna().copy()
df4.isna().sum()

customer_id          0
gross_revenue        0
recency_days         0
invoice_quantity     0
items_quantity       0
products_quantity    0
avg_ticket           0
dtype: int64

In [41]:
cols_selected = ['customer_id', 'gross_revenue', 'recency_days', 'invoice_quantity',
       'items_quantity', 'products_quantity', 'avg_ticket', ]
df43 = df4[ cols_selected ].drop( columns='customer_id', axis=1 )

In [43]:
mm = pp.MinMaxScaler()


df43['gross_revenue']          = mm.fit_transform( df43[['gross_revenue']] )
df43['recency_days']           = mm.fit_transform( df43[['recency_days']] )
df43['invoice_quantity']       = mm.fit_transform( df43[['invoice_quantity']] )
df43['items_quantity']         = mm.fit_transform( df43[['items_quantity']] )
df43['products_quantity']      = mm.fit_transform( df43[['products_quantity']] )
df43['avg_ticket']             = mm.fit_transform( df43[['avg_ticket']] )

In [44]:
XX = df43.copy()

In [45]:
XX.shape

(5695, 6)

### 4.3.4 Tree-Based Embedding

In [46]:
# Traning Dataset
X = df43.drop( columns=[ 'gross_revenue' ], axis=1 ).copy()
y = df43['gross_revenue'].copy()

# Model Definition
rf_model = en.RandomForestRegressor( n_estimators=100, random_state=42 )

# Model Training
rf_model.fit( X, y )

# Leaf
df_leaf = pd.DataFrame( rf_model.apply( X ) )

In [47]:
reducer = umap.UMAP( random_state=42 )
embedding = reducer.fit_transform( df_leaf )

# embedding
df_tree = pd.DataFrame()
df_tree['embedding_x'] = embedding[:, 0]
df_tree['embedding_y'] = embedding[:, 1]

# 7.0 HYPERPARAMETER FINE TUNING

In [48]:
X = df_tree.copy()

# 8.0 MODEL TRAINING

In [49]:
k = 7
# Model Definition
gmm_model = mx.GaussianMixture( n_components=k, random_state=42 )

# Model Training
gmm_model.fit( X )

# Model Predict
labels = gmm_model.predict( X )

# 9.0 CLUSTER ANALYSIS

## 9.2 Cluster Profile

In [50]:
df92 = df4[ cols_selected ].copy()
df92['cluster'] = labels
df92.head()

# Change Types
df92['recency_days'] = df92['recency_days'].astype( int )
df92['invoice_quantity'] = df92['invoice_quantity'].astype( int )
df92['items_quantity'] = df92['items_quantity'].astype( int )
df92['products_quantity'] = df92['products_quantity'].astype( int )

In [51]:
# Number of customers
df_cluster = df92[['customer_id', 'cluster']].groupby( 'cluster' ).count().reset_index()
df_cluster['perc_customer'] = 100 * df_cluster['customer_id'] / df_cluster['customer_id'].sum()

# Avg gross revenue 
df_avg_gross = df92[['gross_revenue', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_gross, how='inner', on='cluster' )

# Avg recency days
df_recency_days = df92[['recency_days', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_recency_days, how='inner', on='cluster' )

# Avg invoice_no
df_avg_invoice = df92[['invoice_quantity', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_invoice, how='inner', on='cluster' )

# Items Quantity
df_items_quantity = df92[['items_quantity', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_items_quantity, how='inner', on='cluster' )

# Products Quantity
df_products_quantity = df92[['products_quantity', 'cluster']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_products_quantity, how='inner', on='cluster' )

# Avg ticket by cluster
df_avg_ticket_cluster = df92[['cluster', 'avg_ticket']].groupby( 'cluster' ).mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_ticket_cluster, how='inner', on='cluster' )

df_cluster

,cluster,customer_id,perc_customer,gross_revenue,recency_days,invoice_quantity,items_quantity,products_quantity,avg_ticket
0,0,815,14.310799,76.075902,192.395092,1.060123,20.132515,7.916564,16.907160
1,1,739,12.976295,1779.037835,63.626522,4.239513,914.860622,123.205683,29.220581
2,2,1675,29.411765,340.956066,150.951642,1.460896,144.414925,28.309254,22.764703
3,3,543,9.534680,8487.322670,59.467772,10.821363,4917.725599,277.922652,234.952142
4,4,972,17.067603,749.449671,107.255144,2.152263,385.333333,54.225309,25.512477
5,5,525,9.218613,4305.565695,52.066667,8.064762,2489.603810,227.152381,45.856868
6,6,426,7.480246,1313.011362,106.476526,2.636150,483.823944,139.948357,11.451611

3 Cluster Insiders

5 Cluster More Items

1 Cluster More Products

6 Cluster More Gross Revenue

4 Cluster Even More Products

2 Cluster More Products and Items

0 Cluster Ibernate

 ### Cluster 1 (Insiders)
    - Número de Customers: 292, que representam 9,83% da base.
    - Faturamento Médio: $15086,34.
    - Compraram a última vez a 21 dias na média.
    - Compraram 9085 itens na média.
    - Retornam na média 226 produtos no total.
    
    
    
### Cluster 2 
    - Representam 99,15% da base.
    - Gastaram em média $1372,57.
    - Compraram a última vez 92 dias atrás na média.
    - Compraram 4 itens na média.



    
### Cluster 3
    - Representam 0,70% da base.
    - Gastaram $40543,51 na média.
    - Compraram a última vez 13 dias atrás na média.
    - Compraram 53 unidades na média.

# 11.0 DEPLOY TO PRODUCTION

In [46]:
df92.head()

,customer_id,gross_revenue,recency_days,invoice_quantity,items_quantity,products_quantity,avg_ticket,cluster
0,17850,5391.21,372,34,1733,297,18.152222,5
1,13047,3232.59,56,9,1390,171,18.904035,5
2,12583,6705.38,2,15,5028,232,28.902500,3
3,13748,948.25,95,5,439,28,33.866071,4
4,15100,876.00,333,3,80,3,292.000000,2

In [47]:
df92.dtypes

customer_id            int64
gross_revenue        float64
recency_days           int64
invoice_quantity       int64
items_quantity         int64
products_quantity      int64
avg_ticket           float64
cluster                int64
dtype: object

## 11.1 Insert Data Into SQLITE

In [49]:
# # Create Query
# query_create_table_insiders = """
#     CREATE TABLE insiders (
#         customer_id            INTEGER,
#         gross_revenue          REAL,
#         recency_days           INTEGER,
#         invoice_quantity       INTEGER,
#         items_quantity         INTEGER,
#         products_quantity      INTEGER,
#         avg_ticket             REAL,
#         cluster                INTEGER
    
#     )

# """

# # Connect and Create Table
# conn = sqlite3.connect( '../data/sqlite/insiders_db.sqlite' )
# conn.execute( query_create_table_insiders )
# conn.commit()
# conn.close()

# Insert Data
conn = create_engine( 'sqlite:///../data/sqlite/insiders_db.sqlite' )
# df92.to_sql( 'insiders', con=conn, if_exists='append', index=False )

# Select Data

In [50]:
# Consulting Database
query_consulting = """
    SELECT * FROM insiders
"""
df_consulting = pd.read_sql_query( query_consulting, conn )

In [51]:
df_consulting.head()

,customer_id,gross_revenue,recency_days,invoice_quantity,items_quantity,products_quantity,avg_ticket,cluster
0,17850,5391.21,372,34,1733,297,18.152222,5
1,13047,3232.59,56,9,1390,171,18.904035,5
2,12583,6705.38,2,15,5028,232,28.902500,3
3,13748,948.25,95,5,439,28,33.866071,4
4,15100,876.00,333,3,80,3,292.000000,2

In [ ]:
df_consulting = df_consulting.drop_duplicates()

In [52]:
df_consulting.shape

(5695, 8)